# Lecture 3: Spark Streaming

Spark streaming is an extension of the Spark API that enables scalabe stream processing. The stream of data can be ingested from many data sources such as *Kafka*, *s3* or *TCP socket*. The Spark API allows to process data via high-level functions such as *map* and *reduce*. As we are going to se, it is also possible to use dataframe operations. 

Processed data can be exported to an external database and used to make live dashboards or offline analysis. 

Spark streaming works by dividing the input data into micro-batches that can be treated as static dataset. In Spark this is called *discretized stream* (*DStream*). The DStream is represented using RDDs.

![DStream](imgs/lecture3/DStream.png)

A transformation of the DStream, i.e. `Dstream.map` will act independently on each batch. For example, in the image below, we can filter the original RDD to remove some data and produce a new stream. 

![DStream_filter](imgs/lecture3/DStream_filter.png)

In this lecture we will see how to setup a simple stream using as source a socket.

## Setup

In [1]:
# set this variable with one of the following values
# -> 'local'
# -> 'docker_container'
# -> 'docker_cluster'
CLUSTER_TYPE ='docker_container'

In [2]:
# set env variable
%env CLUSTER_TYPE $CLUSTER_TYPE

env: CLUSTER_TYPE=docker_container

## Start the cluster 

Environment variables need to be set only in the case of a local cluster

In [3]:
if CLUSTER_TYPE=='local':
    import findspark
    findspark.init('/Users/matteo/Work/MAPD/spark-3.1.1-bin-hadoop3.2/')

In [4]:
%%script bash --no-raise-error

if [[ "$CLUSTER_TYPE" != "docker_cluster" ]]; then
    echo "Launching master and worker"
    
    # start master 
    $SPARK_HOME/sbin/start-master.sh --host localhost \
        --port 7077 --webui-port 8080
    
    # start worker
    $SPARK_HOME/sbin/start-worker.sh spark://localhost:7077 \
        --cores 4 --memory 2g
fi

Launching master and worker
org.apache.spark.deploy.master.Master running as process 1073.  Stop it first.
org.apache.spark.deploy.worker.Worker running as process 1133.  Stop it first.

## Create the Spark session

Later on we will explain what is the role of [Apache Arrow](), but first we need to install it and create the spark session with it.

In [5]:
from pyspark.sql import SparkSession

if CLUSTER_TYPE in ['local', 'docker_container']:
    
    spark = SparkSession.builder \
        .master("spark://localhost:7077")\
        .appName("Spark streaming application")\
        .config("spark.sql.execution.arrow.pyspark.enabled", "true")\
        .config("spark.sql.execution.arrow.pyspark.fallback.enabled", "false")\
        .getOrCreate()

elif CLUSTER_TYPE == 'docker_cluster':
    
    # use the provided master
    spark = SparkSession.builder \
        .master("spark://spark-master:7077")\
        .appName("Spark streaming application")\
        .config("spark.executor.memory", "512m")\
        .config("spark.sql.execution.arrow.pyspark.enabled", "true")\
        .config("spark.sql.execution.arrow.pyspark.fallback.enabled", "false")\
        .getOrCreate()

In [6]:
sc = spark.sparkContext
sc

## Streaming context

The first step of a spark streaming application is the creation of a StreamingContext. The context can be initialized using `StreamingContext(SparkContext, batch_interval`). There could be at most one StreamingContext for each spark application. The processing start when `streamingContext.start()` is called and it can be stopped with `streamingContext.stop()`. If it is stoped without passing `stop(stopSparkContext=False)` the sparkContext is also stopped.

In [30]:
from pyspark.streaming import StreamingContext

ssc = StreamingContext(sc, 2)

For this example spark will read data from a TCP socket. Data are generated by a simple python program that can be found in `utils/producer.py`. The producer will write data on port `5555` of `localhost`. 

The dataset consists of fake credit card transactions.

In [31]:
socket_stream = ssc.socketTextStream("127.0.0.1", 5555)

The first thing we need to to is load the json describing each transaction.

In [32]:
import json

json_stream = socket_stream.map(lambda msg: json.loads(msg))

It is possible to print some elements of each batch with `pprint()`. This can be used to explore the RDDs.

In [10]:
json_stream.pprint()

Start the computations with `ssc.start()` and stop with `ssc.stop(stopSparkContext=False)`. Remember that after this last instruction the streaming context must be defined again.

In [11]:
ssc.start()

-------------------------------------------
Time: 2021-05-04 13:35:34
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:36
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:38
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:40
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:42
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:44
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:46
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:48
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:50
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:52
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:54
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:56
-------------------------------------------

-------------------------------------------
Time: 2021-05-04 13:35:58
-------------------------------------------
{'name': 'Joe', 'surname': 'Jones', 'amount': '428.47', 'delta_t': '8.46', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '339.74', 'delta_t': '9.39', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '541.76', 'delta_t': '8.94', 'flag': 1}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '923.80', 'delta_t': '8.73', 'flag': 0}
{'name': 'Alice', 'surname': 'Johnson', 'amount': '373.20', 'delta_t': '3.35', 'flag': 0}

-------------------------------------------
Time: 2021-05-04 13:36:00
-------------------------------------------
{'name': 'Alice', 'surname': 'Millers', 'amount': '690.84', 'delta_t': '0.94', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '496.22', 'delta_t': '3.66', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '136.10', 'delta_t': '7.58', 'flag': 0}
{'name': 'Alice', 'surname': 'Smith', 'amount': '635.82', 'delta_t': '0.63', 'flag': 1}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '338.89', 'delta_t': '2.24', 'flag': 1}
{'name': 'John', 'surname': 'Millers', 'amount': '489.92', 'delta_t': '2.48', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '982.46', 'delta_t': '6.08', 'flag': 1}
{'name': 'Andy', 'surname': 'Smith', 'amount': '655.74', 'delta_t': '3.62', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '154.04', 'delta_t': '5.21', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '144.45', 'delta_t': '1.83', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:02
-------------------------------------------
{'name': 'Andy', 'surname': 'Smith', 'amount': '650.86', 'delta_t': '3.68', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '719.80', 'delta_t': '2.39', 'flag': 0}
{'name': 'Alice', 'surname': 'Johnson', 'amount': '378.67', 'delta_t': '7.32', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '363.89', 'delta_t': '8.80', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '850.70', 'delta_t': '0.04', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '69.58', 'delta_t': '8.52', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '637.41', 'delta_t': '6.72', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '781.25', 'delta_t': '7.17', 'flag': 0}
{'name': 'Alice', 'surname': 'Johnson', 'amount': '359.78', 'delta_t': '7.14', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '813.04', 'delta_t': '9.16', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:04
-------------------------------------------
{'name': 'John', 'surname': 'Johnson', 'amount': '86.04', 'delta_t': '0.92', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '733.93', 'delta_t': '6.16', 'flag': 1}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '814.81', 'delta_t': '0.56', 'flag': 0}
{'name': 'Alice', 'surname': 'Smith', 'amount': '575.96', 'delta_t': '5.82', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '985.09', 'delta_t': '1.29', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '996.77', 'delta_t': '8.14', 'flag': 1}
{'name': 'John', 'surname': 'Johnson', 'amount': '367.39', 'delta_t': '0.15', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '724.25', 'delta_t': '4.94', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '156.58', 'delta_t': '3.61', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '873.89', 'delta_t': '4.36', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:06
-------------------------------------------
{'name': 'Joe', 'surname': 'Millers', 'amount': '828.37', 'delta_t': '9.87', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '934.14', 'delta_t': '5.57', 'flag': 1}
{'name': 'Joe', 'surname': 'Smith', 'amount': '531.61', 'delta_t': '2.23', 'flag': 0}
{'name': 'John', 'surname': 'Smith', 'amount': '387.17', 'delta_t': '8.28', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '326.54', 'delta_t': '5.81', 'flag': 0}
{'name': 'John', 'surname': 'Smith', 'amount': '118.41', 'delta_t': '2.31', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '736.16', 'delta_t': '8.18', 'flag': 0}
{'name': 'Joe', 'surname': 'Smith', 'amount': '693.87', 'delta_t': '5.91', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '454.14', 'delta_t': '8.08', 'flag': 0}
{'name': 'Andy', 'surname': 'Millers', 'amount': '352.76', 'delta_t': '8.32', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:08
-------------------------------------------
{'name': 'Joe', 'surname': 'Jones', 'amount': '91.63', 'delta_t': '1.86', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '6.18', 'delta_t': '2.59', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '745.74', 'delta_t': '5.42', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '611.94', 'delta_t': '0.06', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '320.08', 'delta_t': '8.43', 'flag': 1}
{'name': 'Alice', 'surname': 'Jones', 'amount': '733.62', 'delta_t': '0.78', 'flag': 1}
{'name': 'John', 'surname': 'Johnson', 'amount': '421.04', 'delta_t': '2.70', 'flag': 0}
{'name': 'Andy', 'surname': 'Millers', 'amount': '305.98', 'delta_t': '1.17', 'flag': 1}
{'name': 'John', 'surname': 'Jones', 'amount': '69.57', 'delta_t': '7.09', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '563.95', 'delta_t': '6.48', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:10
-------------------------------------------
{'name': 'John', 'surname': 'Millers', 'amount': '884.50', 'delta_t': '1.47', 'flag': 0}
{'name': 'John', 'surname': 'Smith', 'amount': '335.64', 'delta_t': '4.98', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '561.10', 'delta_t': '3.07', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '897.35', 'delta_t': '0.12', 'flag': 0}
{'name': 'Andy', 'surname': 'Millers', 'amount': '467.70', 'delta_t': '0.96', 'flag': 0}
{'name': 'Joe', 'surname': 'Smith', 'amount': '401.42', 'delta_t': '7.18', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '537.63', 'delta_t': '0.58', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '15.11', 'delta_t': '5.89', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '480.04', 'delta_t': '4.89', 'flag': 1}
{'name': 'Alice', 'surname': 'Jones', 'amount': '463.57', 'delta_t': '7.55', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:12
-------------------------------------------
{'name': 'Joe', 'surname': 'Jones', 'amount': '869.06', 'delta_t': '2.49', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '672.87', 'delta_t': '7.99', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '169.79', 'delta_t': '6.21', 'flag': 1}
{'name': 'John', 'surname': 'Smith', 'amount': '396.76', 'delta_t': '1.91', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '554.47', 'delta_t': '5.85', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '912.28', 'delta_t': '5.86', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '259.51', 'delta_t': '6.97', 'flag': 1}
{'name': 'Joe', 'surname': 'Millers', 'amount': '360.73', 'delta_t': '3.23', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '820.36', 'delta_t': '2.09', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '738.66', 'delta_t': '2.25', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:14
-------------------------------------------
{'name': 'John', 'surname': 'Millers', 'amount': '998.55', 'delta_t': '2.28', 'flag': 0}
{'name': 'John', 'surname': 'Smith', 'amount': '592.64', 'delta_t': '3.71', 'flag': 1}
{'name': 'Joe', 'surname': 'Smith', 'amount': '486.15', 'delta_t': '4.24', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '972.44', 'delta_t': '4.30', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '411.29', 'delta_t': '7.20', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '665.96', 'delta_t': '2.71', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '778.86', 'delta_t': '8.03', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '448.57', 'delta_t': '6.16', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '354.80', 'delta_t': '1.94', 'flag': 0}
{'name': 'Andy', 'surname': 'Millers', 'amount': '275.73', 'delta_t': '9.59', 'flag': 1}
...

-------------------------------------------
Time: 2021-05-04 13:36:16
-------------------------------------------
{'name': 'Alice', 'surname': 'Johnson', 'amount': '558.82', 'delta_t': '9.71', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '579.24', 'delta_t': '3.76', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '33.75', 'delta_t': '3.57', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '648.06', 'delta_t': '9.50', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '431.45', 'delta_t': '9.13', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '75.67', 'delta_t': '2.22', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '747.77', 'delta_t': '1.35', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '172.09', 'delta_t': '9.95', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '59.18', 'delta_t': '3.53', 'flag': 0}
{'name': 'Alice', 'surname': 'Smith', 'amount': '621.68', 'delta_t': '4.18', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:18
-------------------------------------------
{'name': 'Joe', 'surname': 'Millers', 'amount': '669.51', 'delta_t': '7.29', 'flag': 1}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '8.37', 'delta_t': '2.97', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '863.82', 'delta_t': '9.08', 'flag': 1}
{'name': 'John', 'surname': 'Smith', 'amount': '357.24', 'delta_t': '0.23', 'flag': 0}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '989.96', 'delta_t': '0.29', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '442.16', 'delta_t': '5.21', 'flag': 1}
{'name': 'Andy', 'surname': 'Smith', 'amount': '477.18', 'delta_t': '9.64', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '829.79', 'delta_t': '9.97', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '86.02', 'delta_t': '8.33', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '923.47', 'delta_t': '7.88', 'flag': 1}
...

-------------------------------------------
Time: 2021-05-04 13:36:20
-------------------------------------------
{'name': 'Alice', 'surname': 'Millers', 'amount': '546.79', 'delta_t': '9.11', 'flag': 0}
{'name': 'Joe', 'surname': 'Smith', 'amount': '445.09', 'delta_t': '1.40', 'flag': 0}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '826.76', 'delta_t': '2.48', 'flag': 1}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '804.73', 'delta_t': '8.07', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '337.19', 'delta_t': '8.89', 'flag': 1}
{'name': 'Alice', 'surname': 'Jones', 'amount': '10.48', 'delta_t': '3.92', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '692.89', 'delta_t': '9.37', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '776.78', 'delta_t': '3.30', 'flag': 0}
{'name': 'Andy', 'surname': 'Millers', 'amount': '516.50', 'delta_t': '7.53', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '68.85', 'delta_t': '0.03', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:22
-------------------------------------------
{'name': 'John', 'surname': 'Millers', 'amount': '178.22', 'delta_t': '1.97', 'flag': 0}
{'name': 'Alice', 'surname': 'Johnson', 'amount': '377.91', 'delta_t': '8.99', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '629.44', 'delta_t': '1.99', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '382.68', 'delta_t': '0.94', 'flag': 1}
{'name': 'Joe', 'surname': 'Millers', 'amount': '499.30', 'delta_t': '3.34', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '263.11', 'delta_t': '8.73', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '230.68', 'delta_t': '2.82', 'flag': 1}
{'name': 'Joe', 'surname': 'Millers', 'amount': '993.76', 'delta_t': '8.00', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '68.99', 'delta_t': '7.63', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '456.07', 'delta_t': '3.87', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:24
-------------------------------------------
{'name': 'John', 'surname': 'Smith', 'amount': '815.73', 'delta_t': '7.30', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '46.26', 'delta_t': '1.30', 'flag': 0}
{'name': 'Alice', 'surname': 'Smith', 'amount': '288.66', 'delta_t': '6.45', 'flag': 0}
{'name': 'Andy', 'surname': 'Millers', 'amount': '974.74', 'delta_t': '9.19', 'flag': 0}
{'name': 'Joe', 'surname': 'Smith', 'amount': '766.90', 'delta_t': '0.16', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '174.93', 'delta_t': '0.56', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '872.07', 'delta_t': '0.07', 'flag': 0}
{'name': 'Joe', 'surname': 'Smith', 'amount': '635.79', 'delta_t': '4.33', 'flag': 1}
{'name': 'Joe', 'surname': 'Millers', 'amount': '248.92', 'delta_t': '7.94', 'flag': 0}
{'name': 'Alice', 'surname': 'Smith', 'amount': '199.89', 'delta_t': '6.62', 'flag': 1}
...

-------------------------------------------
Time: 2021-05-04 13:36:26
-------------------------------------------
{'name': 'Joe', 'surname': 'Jones', 'amount': '996.04', 'delta_t': '4.50', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '744.33', 'delta_t': '8.22', 'flag': 1}
{'name': 'Alice', 'surname': 'Smith', 'amount': '737.24', 'delta_t': '7.16', 'flag': 1}
{'name': 'Alice', 'surname': 'Smith', 'amount': '852.45', 'delta_t': '9.81', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '260.62', 'delta_t': '0.18', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '598.40', 'delta_t': '2.49', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '969.66', 'delta_t': '6.72', 'flag': 0}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '170.71', 'delta_t': '9.02', 'flag': 1}
{'name': 'John', 'surname': 'Millers', 'amount': '345.09', 'delta_t': '5.02', 'flag': 1}
{'name': 'Alice', 'surname': 'Smith', 'amount': '318.95', 'delta_t': '5.15', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:28
-------------------------------------------
{'name': 'Joe', 'surname': 'Millers', 'amount': '242.34', 'delta_t': '5.14', 'flag': 0}
{'name': 'John', 'surname': 'Smith', 'amount': '589.62', 'delta_t': '0.12', 'flag': 0}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '789.03', 'delta_t': '4.86', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '215.11', 'delta_t': '0.10', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '371.01', 'delta_t': '4.99', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '23.44', 'delta_t': '9.13', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '332.38', 'delta_t': '2.01', 'flag': 0}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '300.36', 'delta_t': '3.74', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '871.41', 'delta_t': '1.07', 'flag': 0}
{'name': 'Andy', 'surname': 'Millers', 'amount': '510.52', 'delta_t': '9.26', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:30
-------------------------------------------
{'name': 'John', 'surname': 'Johnson', 'amount': '303.96', 'delta_t': '8.34', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '641.63', 'delta_t': '4.31', 'flag': 1}
{'name': 'Joe', 'surname': 'Millers', 'amount': '412.44', 'delta_t': '2.33', 'flag': 0}
{'name': 'Joe', 'surname': 'Smith', 'amount': '45.14', 'delta_t': '6.96', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '739.00', 'delta_t': '3.05', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '839.23', 'delta_t': '5.99', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '799.15', 'delta_t': '4.75', 'flag': 0}
{'name': 'Alice', 'surname': 'Johnson', 'amount': '688.77', 'delta_t': '4.38', 'flag': 1}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '29.11', 'delta_t': '0.43', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '475.26', 'delta_t': '1.34', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:32
-------------------------------------------
{'name': 'Alice', 'surname': 'Jones', 'amount': '850.30', 'delta_t': '5.05', 'flag': 0}
{'name': 'Alice', 'surname': 'Johnson', 'amount': '841.10', 'delta_t': '3.59', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '349.29', 'delta_t': '2.97', 'flag': 0}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '88.90', 'delta_t': '1.40', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '172.81', 'delta_t': '9.59', 'flag': 0}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '403.52', 'delta_t': '0.57', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '499.65', 'delta_t': '5.45', 'flag': 1}
{'name': 'Alice', 'surname': 'Jones', 'amount': '633.61', 'delta_t': '3.77', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '452.61', 'delta_t': '4.43', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '76.75', 'delta_t': '0.25', 'flag': 1}
...

-------------------------------------------
Time: 2021-05-04 13:36:34
-------------------------------------------
{'name': 'Joe', 'surname': 'Millers', 'amount': '137.92', 'delta_t': '9.36', 'flag': 0}
{'name': 'Alice', 'surname': 'Smith', 'amount': '313.16', 'delta_t': '1.37', 'flag': 1}
{'name': 'Alice', 'surname': 'Jones', 'amount': '315.32', 'delta_t': '8.46', 'flag': 0}
{'name': 'Joe', 'surname': 'Smith', 'amount': '570.72', 'delta_t': '0.46', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '245.72', 'delta_t': '1.04', 'flag': 0}
{'name': 'Andy', 'surname': 'Millers', 'amount': '488.20', 'delta_t': '8.95', 'flag': 1}
{'name': 'John', 'surname': 'Smith', 'amount': '766.61', 'delta_t': '9.70', 'flag': 1}
{'name': 'Joe', 'surname': 'Millers', 'amount': '79.78', 'delta_t': '8.80', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '645.40', 'delta_t': '7.39', 'flag': 1}
{'name': 'Andy', 'surname': 'Jones', 'amount': '489.40', 'delta_t': '9.02', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:36
-------------------------------------------
{'name': 'Andy', 'surname': 'Johnson', 'amount': '300.29', 'delta_t': '1.02', 'flag': 0}
{'name': 'Andy', 'surname': 'Jones', 'amount': '509.87', 'delta_t': '4.59', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '490.72', 'delta_t': '7.26', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '327.42', 'delta_t': '0.76', 'flag': 1}
{'name': 'Alice', 'surname': 'Millers', 'amount': '827.93', 'delta_t': '1.59', 'flag': 0}
{'name': 'Alice', 'surname': 'Millers', 'amount': '372.18', 'delta_t': '5.38', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '184.77', 'delta_t': '3.11', 'flag': 1}
{'name': 'Andy', 'surname': 'Smith', 'amount': '486.95', 'delta_t': '0.83', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '718.40', 'delta_t': '8.44', 'flag': 0}
{'name': 'Alice', 'surname': 'Johnson', 'amount': '171.11', 'delta_t': '7.79', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:38
-------------------------------------------
{'name': 'John', 'surname': 'Jones', 'amount': '416.39', 'delta_t': '9.20', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '357.05', 'delta_t': '8.86', 'flag': 0}
{'name': 'John', 'surname': 'Smith', 'amount': '378.48', 'delta_t': '1.48', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '573.47', 'delta_t': '3.01', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '621.03', 'delta_t': '1.41', 'flag': 0}
{'name': 'Alice', 'surname': 'Smith', 'amount': '129.03', 'delta_t': '7.97', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '231.80', 'delta_t': '9.69', 'flag': 0}
{'name': 'Andy', 'surname': 'Millers', 'amount': '600.88', 'delta_t': '0.00', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '775.66', 'delta_t': '3.20', 'flag': 1}
{'name': 'Alice', 'surname': 'Johnson', 'amount': '700.91', 'delta_t': '1.50', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:40
-------------------------------------------
{'name': 'John', 'surname': 'Millers', 'amount': '556.66', 'delta_t': '6.08', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '998.47', 'delta_t': '7.13', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '876.88', 'delta_t': '6.52', 'flag': 0}
{'name': 'Andy', 'surname': 'Millers', 'amount': '569.82', 'delta_t': '0.97', 'flag': 1}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '848.09', 'delta_t': '1.36', 'flag': 1}
{'name': 'John', 'surname': 'Jones', 'amount': '203.81', 'delta_t': '2.78', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '901.04', 'delta_t': '0.34', 'flag': 0}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '878.17', 'delta_t': '2.87', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '598.40', 'delta_t': '8.33', 'flag': 0}
{'name': 'Alice', 'surname': 'Smith', 'amount': '807.34', 'delta_t': '1.10', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:42
-------------------------------------------
{'name': 'Andy', 'surname': 'Johnson', 'amount': '655.55', 'delta_t': '9.07', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '863.88', 'delta_t': '2.96', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '915.29', 'delta_t': '4.24', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '458.50', 'delta_t': '8.67', 'flag': 0}
{'name': 'Joe', 'surname': 'Johnson', 'amount': '393.72', 'delta_t': '6.27', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '603.93', 'delta_t': '3.96', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '628.81', 'delta_t': '3.05', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '238.57', 'delta_t': '1.28', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '868.69', 'delta_t': '0.19', 'flag': 0}
{'name': 'Joe', 'surname': 'Smith', 'amount': '530.71', 'delta_t': '3.73', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:44
-------------------------------------------
{'name': 'Alice', 'surname': 'Smith', 'amount': '71.49', 'delta_t': '7.24', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '684.47', 'delta_t': '3.27', 'flag': 0}
{'name': 'Alice', 'surname': 'Smith', 'amount': '764.10', 'delta_t': '7.39', 'flag': 0}
{'name': 'Alice', 'surname': 'Jones', 'amount': '639.88', 'delta_t': '3.34', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '458.83', 'delta_t': '0.07', 'flag': 1}
{'name': 'Alice', 'surname': 'Johnson', 'amount': '910.10', 'delta_t': '9.23', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '854.28', 'delta_t': '9.11', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '830.93', 'delta_t': '5.51', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '430.67', 'delta_t': '2.90', 'flag': 0}
{'name': 'John', 'surname': 'Millers', 'amount': '367.62', 'delta_t': '1.68', 'flag': 0}
...

-------------------------------------------
Time: 2021-05-04 13:36:46
-------------------------------------------
{'name': 'Joe', 'surname': 'Smith', 'amount': '596.90', 'delta_t': '5.28', 'flag': 0}
{'name': 'Joe', 'surname': 'Millers', 'amount': '215.86', 'delta_t': '0.71', 'flag': 0}
{'name': 'John', 'surname': 'Jones', 'amount': '498.11', 'delta_t': '3.15', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '483.41', 'delta_t': '9.39', 'flag': 0}
{'name': 'Andy', 'surname': 'Smith', 'amount': '800.17', 'delta_t': '2.33', 'flag': 0}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '179.68', 'delta_t': '8.99', 'flag': 0}
{'name': 'John', 'surname': 'Johnson', 'amount': '640.39', 'delta_t': '9.12', 'flag': 1}
{'name': 'Andy', 'surname': 'Jones', 'amount': '340.50', 'delta_t': '8.35', 'flag': 0}
{'name': 'Joe', 'surname': 'Jones', 'amount': '323.23', 'delta_t': '7.72', 'flag': 1}
{'name': 'Andy', 'surname': 'Johnson', 'amount': '587.93', 'delta_t': '9.81', 'flag': 0}
...

In [13]:
ssc.stop(stopSparkContext=False)

Before running the following cells, create again the streaming context and run the cells where the input data source is defined. Remember to skip `pprint` otherwise this operation will be appended to the DAG. 

We may want to convert each batch into a Spark DataFrame to have higher level API. To do that, let's first convert numeric features of the json into python floats and integers. The dictionary can then be used to create a `Row`for each transaction.

In [33]:
from pyspark.sql import Row

def create_row_rdd(t):
    t['amount'] = float(t['amount'])
    t['delta_t'] = float(t['delta_t'])
    t['flag'] = int(t['flag'])
    
    return Row(**t)

row_stream = json_stream.map(create_row_rdd)

The method `DStream.foreachRDD` can be used to apply custom transformations to each batch of data. In our case we are insterested in converting each batch of data into a dataframe and perform operations like finding the number of transactions for each user. Transacion where the user performed more than one transaction, with the flag equal to one,  inside the microbatch and can be flagged as fraudulent.

In [34]:
spark.conf.set("spark.sql.shuffle.partitions", 3)

In [35]:
from pyspark.sql.functions import concat, col, lit, countDistinct

def process_batch(rdd):
    # convert to df
    df = rdd.toDF(
        schema='name string, surname string, amount float, delta_t float, flag int'
    )
    
    # find number of transactions for each user when flag = 1 
    num_transactions = (
        df
        .where(col('flag')==1)
        .withColumn('id', concat(col('name'), col('surname')))
        .groupBy('id')
        .count()
    )
    
    # find suspicious transactions
    sus_transactions = (
        num_transactions
        .where(col('count')>1)
        .whitColumnt('fraud', lit(1))
        .select(col('id'), col('fraud'))
    )
    
    # send allarm
    sus_transaction.show(5)

row_stream.foreachRDD(process_batch)

In [36]:
ssc.start()

+---+-----+
| id|count|
+---+-----+
+---+-----+

+----------+-----+
|        id|count|
+----------+-----+
|AliceJones|    1|
+----------+-----+

+---+-----+
| id|count|
+---+-----+
+---+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|   JoeJones|    1|
|AndyJohnson|    1|
|  JohnSmith|    2|
| JoeJohnson|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
| JoeMillers|    1|
|JohnMillers|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|JohnMillers|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
| AliceSmith|    2|
|   JoeSmith|    2|
|JohnMillers|    1|
+-----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|AliceJohnson|    1|
|    JoeSmith|    2|
|  JoeMillers|    1|
| AndyMillers|    1|
+------------+-----+

+----------+-----+
|        id|count|
+----------+-----+
|JoeMillers|    1|
|  JoeSmith|    2|
|JoeJohnson|    1|
+----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  AndyJones|    1|
|   JoeSmith|    1|
|  JohnSmith|    1|
|AndyMillers|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|JohnJohnson|    1|
|  JohnJones|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  AndyJones|    1|
| AliceSmith|    1|
|AndyJohnson|    1|
|AndyMillers|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|JohnJohnson|    1|
|  JohnJones|    1|
|  JohnSmith|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  AndySmith|    1|
|  JohnSmith|    1|
| AliceJones|    1|
|JohnMillers|    1|
+-----------+-----+

+----------+-----+
|        id|count|
+----------+-----+
|JoeMillers|    1|
|JoeJohnson|    1|
+----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|   JoeSmith|    1|
| JoeMillers|    1|
|AndyJohnson|    1|
|  JohnSmith|    1|
+-----------+-----+

+----------+-----+
|        id|count|
+----------+-----+
|JoeMillers|    1|
| JohnJones|    2|
|  JoeSmith|    1|
+----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|   JoeSmith|    1|
|  JohnJones|    1|
|AndyJohnson|    1|
|JohnMillers|    1|
+-----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|  AliceSmith|    1|
| JohnJohnson|    1|
|AliceJohnson|    1|
|    JoeJones|    1|
|   JohnSmith|    2|
+------------+-----+

+----------+-----+
|        id|count|
+----------+-----+
| AndyJones|    1|
|JoeJohnson|    1|
+----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|AliceJohnson|    1|
|  JoeMillers|    1|
|    JoeJones|    1|
+------------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|AliceMillers|    1|
+------------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|   JohnJones|    1|
|AliceMillers|    1|
+------------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|AliceJohnson|    1|
|   AndyJones|    1|
| AndyJohnson|    1|
|   AndySmith|    1|
|    JoeJones|    1|
+------------+-----+
only showing top 5 rows

+-----------+-----+
|         id|count|
+-----------+-----+
|AndyJohnson|    1|
|   JoeJones|    1|
|AndyMillers|    1|
|JohnMillers|    1|
+-----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
| JohnJohnson|    2|
|   JohnJones|    1|
| AndyJohnson|    1|
|AliceMillers|    2|
+------------+-----+

+----------+-----+
|        id|count|
+----------+-----+
| JohnJones|    1|
|AliceJones|    1|
+----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  JohnSmith|    1|
|AndyMillers|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|AndyJohnson|    1|
| JoeJohnson|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  AndyJones|    1|
|  JohnSmith|    1|
|   JoeSmith|    1|
|  AndySmith|    1|
|JohnMillers|    1|
+-----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|AliceJohnson|    2|
|   JohnJones|    1|
+------------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  AndyJones|    1|
| AliceSmith|    1|
|AndyMillers|    1|
| AliceJones|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|JohnJohnson|    1|
|AndyJohnson|    1|
|JohnMillers|    2|
+-----------+-----+

+----------+-----+
|        id|count|
+----------+-----+
|AliceSmith|    1|
| JohnJones|    1|
| AndySmith|    1|
+----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|JohnJohnson|    1|
|   JoeSmith|    1|
|JohnMillers|    1|
+-----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
| JohnJohnson|    1|
|AliceJohnson|    1|
|    JoeJones|    1|
|    JoeSmith|    1|
|  AliceJones|    1|
+------------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|AndyMillers|    2|
|JohnMillers|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|   JoeJones|    1|
|   JoeSmith|    1|
|  JohnJones|    1|
|JohnMillers|    2|
|AndyMillers|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  AndyJones|    1|
| AliceSmith|    1|
|   JoeJones|    1|
|AndyMillers|    1|
|JohnMillers|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
| AliceSmith|    1|
|  JohnSmith|    1|
|   JoeJones|    1|
| JoeJohnson|    1|
|JohnMillers|    1|
+-----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|   AndyJones|    1|
| AndyJohnson|    1|
|    JoeSmith|    1|
|AliceMillers|    1|
+------------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  AndyJones|    1|
|AndyJohnson|    1|
|AndyMillers|    1|
| JoeJohnson|    1|
| AliceJones|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|AndyJohnson|    1|
|JohnMillers|    1|
|AndyMillers|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  AndyJones|    1|
|AndyJohnson|    1|
|  JohnSmith|    1|
| JoeJohnson|    1|
+-----------+-----+

+----------+-----+
|        id|count|
+----------+-----+
| AndySmith|    1|
|JoeMillers|    1|
+----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|AliceJohnson|    1|
|   AndySmith|    1|
|    JoeJones|    1|
|   JohnJones|    1|
+------------+-----+

+----------+-----+
|        id|count|
+----------+-----+
| AndyJones|    1|
|AliceSmith|    2|
| JohnJones|    2|
|JoeJohnson|    1|
+----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|AliceJohnson|    1|
|  AliceSmith|    2|
|  JoeMillers|    1|
|   JohnJones|    1|
| JohnMillers|    1|
+------------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  JohnJones|    1|
|   JoeJones|    1|
|AndyMillers|    1|
|JohnMillers|    1|
+-----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|AliceJohnson|    1|
|   AndySmith|    1|
|    JoeJones|    1|
+------------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
| AliceSmith|    1|
|AndyJohnson|    1|
+-----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|  JoeMillers|    1|
|AliceMillers|    1|
|  AliceJones|    2|
+------------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|AndyJohnson|    1|
| JoeJohnson|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|JohnJohnson|    1|
|JohnMillers|    1|
| JoeJohnson|    1|
| AliceJones|    1|
+-----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|   AndySmith|    1|
|    JoeJones|    1|
|AliceMillers|    1|
|  JoeJohnson|    1|
+------------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|JohnJohnson|    1|
| JoeMillers|    1|
+-----------+-----+

+-----------+-----+
|         id|count|
+-----------+-----+
|  AndyJones|    1|
|   JoeSmith|    1|
|  JohnSmith|    1|
|  AndySmith|    1|
|JohnMillers|    1|
+-----------+-----+
only showing top 5 rows

+------------+-----+
|          id|count|
+------------+-----+
| JohnJohnson|    1|
|  AliceSmith|    1|
|AliceMillers|    1|
| JohnMillers|    1|
+------------+-----+

+----------+-----+
|        id|count|
+----------+-----+
| JohnSmith|    1|
|  JoeSmith|    1|
|AliceJones|    1|
+----------+-----+

+------------+-----+
|          id|count|
+------------+-----+
| JohnJohnson|    1|
|AliceJohnson|    1|
|   AndyJones|    1|
|    JoeSmith|    1|
+------------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|  AliceSmith|    1|
|AliceJohnson|    1|
| JohnJohnson|    1|
|  AliceJones|    1|
+------------+-----+

+------------+-----+
|          id|count|
+------------+-----+
|AliceJohnson|    1|
+------------+-----+

+------------+-----+
|          id|count|
+------------+-----+
| JohnJohnson|    1|
|AliceMillers|    1|
|  AliceJones|    1|
+------------+-----+

In [37]:
# stop streaming context

ssc.stop(stopSparkContext=False)

+------------+-----+
|          id|count|
+------------+-----+
|AliceJohnson|    2|
| JohnJohnson|    1|
|  AliceSmith|    1|
|  JoeMillers|    1|
|   AndySmith|    1|
+------------+-----+
only showing top 5 rows